<h1>show</h1>
<h2><%= @item.name %></h2>
<p>出品者：<%= link_to @exhibitor.name, @exhibitor %></p>
<p><%= @item.description %></p>
<p>状態 : <%= @item.condition_i18n %></p>
<%= link_to 'edit', edit_item_path(@item) %>
